#include <physical_layouts.dtsi>

&{/} {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "KuekerDox";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 125 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  125   38       0     0     0>
            , <&key_physical_attrs 100 100  225   13       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425   13       0     0     0>
            , <&key_physical_attrs 100 100  525   25       0     0     0>
            , <&key_physical_attrs 100 100  625   50       0     0     0>
            , <&key_physical_attrs 100 100 1175   50       0     0     0>
            , <&key_physical_attrs 100 100 1275   25       0     0     0>
            , <&key_physical_attrs 100 100 1375   13       0     0     0>
            , <&key_physical_attrs 100 100 1475    0       0     0     0>
            , <&key_physical_attrs 100 100 1575   13       0     0     0>
            , <&key_physical_attrs 100 100 1675   38       0     0     0>
            , <&key_physical_attrs 150 100 1775   38       0     0     0>
            , <&key_physical_attrs 125 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  125  138       0     0     0>
            , <&key_physical_attrs 100 100  225  113       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  113       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100  625  150       0     0     0>
            , <&key_physical_attrs 100 100 1175  150       0     0     0>
            , <&key_physical_attrs 100 100 1275  125       0     0     0>
            , <&key_physical_attrs 100 100 1375  113       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1575  113       0     0     0>
            , <&key_physical_attrs 100 100 1675  138       0     0     0>
            , <&key_physical_attrs 150 100 1775  138       0     0     0>
            , <&key_physical_attrs 125 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  125  238       0     0     0>
            , <&key_physical_attrs 100 100  225  213       0     0     0>
            , <&key_physical_attrs 100 100  325  200       0     0     0>
            , <&key_physical_attrs 100 100  425  213       0     0     0>
            , <&key_physical_attrs 100 100  525  225       0     0     0>
            , <&key_physical_attrs 100 100  625  250       0     0     0>
            , <&key_physical_attrs 100 100 1175  250       0     0     0>
            , <&key_physical_attrs 100 100 1275  225       0     0     0>
            , <&key_physical_attrs 100 100 1375  213       0     0     0>
            , <&key_physical_attrs 100 100 1475  200       0     0     0>
            , <&key_physical_attrs 100 100 1575  213       0     0     0>
            , <&key_physical_attrs 100 100 1675  238       0     0     0>
            , <&key_physical_attrs 150 100 1775  238       0     0     0>
            , <&key_physical_attrs 125 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  125  338       0     0     0>
            , <&key_physical_attrs 100 100  225  313       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  313       0     0     0>
            , <&key_physical_attrs 100 100  525  325       0     0     0>
            , <&key_physical_attrs 100 100  625  325    3000   600   425>
            , <&key_physical_attrs 100 100  725  325    3000   600   425>
            , <&key_physical_attrs 100 100 1075  350 (-3000)  1250   425>
            , <&key_physical_attrs 100 100 1275  325       0     0     0>
            , <&key_physical_attrs 100 100 1175  350 (-3000)  1250   425>
            , <&key_physical_attrs 100 100 1375  313       0     0     0>
            , <&key_physical_attrs 100 100 1475  300       0     0     0>
            , <&key_physical_attrs 100 100 1575  313       0     0     0>
            , <&key_physical_attrs 100 100 1675  338       0     0     0>
            , <&key_physical_attrs 150 100 1775  338       0     0     0>
            , <&key_physical_attrs 125 100    0  438       0     0     0>
            , <&key_physical_attrs 100 100  125  438       0     0     0>
            , <&key_physical_attrs 100 100  225  413       0     0     0>
            , <&key_physical_attrs 100 100  325  400       0     0     0>
            , <&key_physical_attrs 125 100  545  280    1500 (-50)     0>
            , <&key_physical_attrs 100 150  625  425    3000   600   425>
            , <&key_physical_attrs 100 150  725  425    3000   600   425>
            , <&key_physical_attrs 100 150 1075  450 (-3000)  1250   425>
            , <&key_physical_attrs 100 150 1175  450 (-3000)  1250   425>
            , <&key_physical_attrs 125 100 1165  790 (-1500) (-50)     0>
            , <&key_physical_attrs 100 100 1475  400       0     0     0>
            , <&key_physical_attrs 100 100 1575  413       0     0     0>
            , <&key_physical_attrs 100 100 1675  438       0     0     0>
            , <&key_physical_attrs 150 100 1775  438       0     0     0>
            ;
    };
};